@import url(https://fonts.googleapis.com/css2?family=Oswald&family=Seaweed+Script&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$no-margin: 0; 
$base-font-size: 1em;
$seaweed-font: 'Seaweed Script', cursive;
$oswald-font: 'Oswald', sans-serif;
$hover-link: teal;

$border1em: 1em;
$max-w: 100%;
$rndborder: 1em;
$padding10x: 10px;