@use '../base/typography' as *;
@use '../abstracts/mixins' as *;


.detailpage {
    &__bookcover {
        height: auto;
        margin: 10px;
        padding: 20px;
        text-align: center;
        &--rating {  
            padding:  30px 0px;
        .fa-star {
            font-size: 1em;
        }
        .checked {
            color: teal;
        }
        }
}
    @include desktop {
    @include flexy (row, center, flex-start);
    
    }
    @include mobile {
        @include flexy (column, center, center);
    }
}
.details {
    margin: 20px;
    word-wrap: break-word;
    h2 {
        font-size: 1em;
        text-align: left;
    }
    &__publish {
        font-style: italic;
    }
    &__editbook {
        width: 5vw;
        height: 3vh;
        font-size: 1em;
        
    }
}


