@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../base/colors' as *;

.bookshelf {
    @include flexy (row, center, center);
    width: 100%;
    flex-wrap: wrap;
    a {
        text-decoration: none;
        color: color(primary)
    }

    &__books {
        
        border: 2px solid darkgrey;
        border-radius: $border1em;
        margin: 10px;
        width: 225px;
        height: 35vh;
     
        
        @include desktop {
        width: 225px;
        height: 325px;
        }
        @include tablet {
            width: 225px;
            height: 35vh;
        }
        &__cover{
            display: block;
            text-align: center;
            padding: 10px 0px;
            width: 125px;
            margin: auto;

            @include desktop {
                width: 135px;
                
            }
            
            
        }
        &__title {
            text-align: center;
            margin: $no-margin;
            padding: 0px 10px;
            overflow-wrap: break-word;
            
        }
    
        &__author {
            padding: 10px;
            text-align: center;
            word-wrap: normal;
            font-style: italic;
            margin: $no-margin;
        }
        
    }
}
