@use '../base/typography' as *;
@use '../abstracts/mixins' as *;

.icon{
    @include desktop {
    display: none;  
    }
    
    
}

.burgerOpen {
    display: none !important;
}
.mylinks {
    display: none;
}