@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../base/colors' as *;
@use '../base/buttons' as *;

.mainnav {
    font-family: $oswald-font;
    background-color: color(primary);

    &__sitetitle {
        color: #fff;
        margin: 0px 20px 10px 20px;
    }
    &__search {
        text-align: center;
        button {
            font-family: $oswald-font;
            align-items: center;
            margin: 5px;
            padding: 0px 5px;
            background-color: transparent ;
            color: white;
            // border-radius: $rndborder;
            width: auto;
            border: none;
    }
}
@include desktop {
    @include flexy(row, space-between, center);

    #mobilesearch{
        display: none;
    }
    &__icon{
        display: none;
    }
    ul {
        padding: 0;
        display: flex;
        flex-flow: row;
        flex: auto;
        list-style: none;
        overflow: hidden;

    }
li{
    a{
    text-decoration: none;
    color: color(ltfont);
    text-align: center;
    padding: 14px 16px;
    font-size: 1.25vw;
    }
    &:hover {
        color: color(dkfont);
        background-color: $hover-link;
    }
    &:active {
        background-color: darkgray;
    }
}
&__search {
    padding: $padding10x;
}
}
@include mobile {
        position: relative;
        overflow: hidden;
        display: block;

    
    &__sitetitle {
        font-size: 2em;
        padding: $padding10x;
        margin: $no-margin;
        
    }
    
        &__icon {
            background: color(accent);
            display: block;
            position: absolute;
            right: $padding10x;
            top: $padding10x;
            padding: $padding10x;
        }
        
    a {
        color: color(ltfont);
        text-decoration: none;
        font-size: 1em;
        
        
    }
    ul {
        list-style: none;
        padding: $no-margin;
        margin: $no-margin;
        }
    li{
        display: inline block;
        text-align: center;
    }
    }
@include tablet {
    //  @include flexy (row, flex-end, center);
        display: block;
        overflow: hidden;
    &__sitetitle {
        font-size: 2em;
        margin: $no-margin;
        padding: $padding10x;
        margin: $no-margin;
    }
    &__icon {
        background: color(accent);
        display: block;
        position: absolute;
        right: $padding10x;
        top: $padding10x;
        padding: $padding10x;
    }
    a {
        color: color(ltfont);
        text-decoration: none;
        font-size: 1em;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        }
    li{
        display: inline block;
        text-align: center;
    }
    }
}

    

