@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../base/colors' as *;
@use '../base/buttons' as *;

.mainnav {
    font-family: $oswald-font;
    background-color: color(primary);

    &__sitetitle {
        color: #fff;
        margin: 0px 20px 10px 20px;
    }
    &__search {
        text-align: center;
        &--box {
            border-radius: $rndborder;
            border: none;
            height: 1.5em;
        }
        &--button {
            font-family: $oswald-font;
            align-items: center;
            margin: 0px 5px;
            padding: 0px 5px 3px;
            height: 1.75em;
            width: 2em;
            background-color: color(accent);
            color: white;
            border-radius: $rndborder;
            border: none;
    }
}
@include desktop {
    @include flexy(row, space-between, center);

   
    &__icon{
        display: none;
    }
    ul {
        padding: 0;
        display: flex;
        flex-flow: row;
        flex: auto;
        list-style: none;
        overflow: hidden;

    }
li{
    a{
    text-decoration: none;
    color: color(ltfont);
    text-align: center;
    padding: 14px 16px;
    font-size: 1.15em;
    }
    &:hover {
        color: color(dkfont);
        background-color: $hover-link;
    }
    &:active {
        background-color: darkgray;
    }
}
&__search {
    padding: $padding10x;
}
}
@include supermobile {
        position: relative;
        overflow: hidden;
        display: block;
    &__hiddensearch {
        display: none;
    }
    
    &__sitetitle {
        font-size: 2em;
        padding: $padding10x;
        margin: $no-margin;
        
    }
    
        &__icon {
            background: color(accent);
            display: block;
            position: absolute;
            right: $padding10x;
            top: $padding10x;
            padding: $padding10x;
        }
        
    i {
        color: color(ltfont);
        text-decoration: none;
        font-size: 1em;
        
        
    }
    &__mobileburger {
    ul {
        list-style: none;
        padding: $no-margin;
        margin: $no-margin;
        }
    li{
        a{
            text-decoration: none;
            color: color(ltfont);
            text-align: center;
        }
        display: inline block;
        text-align: center;
    }
}
    }

}

    

