@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../components/navbar' as *;
@use '../base/colors' as *;

.home {
    font-size: $base-font-size;
    h1, h2 {
        text-align: center;
        @include mobile {
        
        font-size: 1.5em;
        }
        @include desktop {
                font-size: 2.25em;
        
        }
    }
    .home__main {
    margin: 0 0;
    width: 100vw;
    max-width: $max-w;
    @include flexy (column, center, center);
    }
    
    p {
        font-family: $oswald-font;
        padding: 20px;
        margin: $no-margin;
        
        @include mobile {
            padding: 10px;
        word-wrap: normal;
        
        }
    }
    .home__hero{
        height: 40vh;
        @include flexy (column, center, center);
        background-image: url("../images/bookshelf.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        text-align: center;

        @include desktop {
            height: 50vh;
        }
        
        .home__hero-text {
            padding: 20px;
            &--title {
                font-size: 3em;
                margin: $no-margin;
                text-shadow: 4px 3px 5px #000;
                color: color(ltfont);

                @include mobile {
                    font-size: 2em;
                    word-wrap: normal;
                }
                
            }
            p {
                padding: 0;
                
            }
        }
        

}
}
