@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
h2 {
    text-align: center;
}
.add-book{
        width: 100%; 
    @include flexy (row, center, center);
    
    
    @include mobile {
        display: flex;
        flex-direction: column-reverse;
        
    }

    form {
        @include flexy (column, center, center);
        flex-wrap: wrap;
        width: 50vw;

        .book-drop {
            @include flexy (row, space-between, baseline);
            flex-wrap: wrap;
            width: 100%;
        
        input[type="date"], select {
            padding: 12px 20px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: $border1em;
            box-sizing: border-box;
        }
        }   
        
        fieldset, input[type="text"], textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: $border1em;
            box-sizing: border-box;
        button {
            border-radius: $border1em;
    }
    
        button[type="reset"]{
            background-color: #333;
        }
        
    
    textarea{
        width: 100%;
    } 
    }
        }

    @include mobile{   
    form {
        width: 90vw;
    
    .book-drop {
        width: 90%;
    
    }   

}
    }}
//Stars 
.checked {
    color: teal;
}
.fa-star {
    @include desktop {
    font-size: 2em;
    }
    @include mobile; @include tablet {
        font-size: 1em;
    }
}

    .book-cover {
        @include flexy (column, center, none);
        padding: 0px 0px 0px 20px;
        label{
            border: 2px solid darkgrey;
            background-color: lightgray;
            box-sizing: border-box;
            text-align: center;
            border-radius: $border1em;
            justify-content: center;
            align-self: center;
            width: 30vw;
            height: 400px;}
        input{   
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        
    }

@include mobile {
    .book-cover {
        padding: 20px;
        label{
            width: 80vw;
}
    }}