@use '../base/typography' as *;
@use '../abstracts/mixins' as *;

#publish {
    font-style: italic;
}
#detailpage {
    @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    }
    @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
   
}
 #bookcover {
    margin: 10px;
    padding: 20px;

.checked {
    color: teal;
  }
.stars {  
    padding:  30px 0px;
  .fa-star {
      font-size: 1em;
  }
}

 }



