@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../components/navbar' as *;

#home {
    font-size: $base-font-size;
    h1, h2 {
        font-family:$oswald-font;
        text-align: center;
        @include mobile {
        
        font-size: 1.5em;
        }
        @include desktop {
                font-size: 2.25em;
        
        }
    }
    

    section {
    margin: 0 0;
    width: 100vw;
    max-width: $max-w;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    p {
        @include desktop {
        font-family: $oswald-font;
        padding: 20px;
        margin: $no-margin;
        }
        @include mobile {
            padding: 10px;
        text-align: center;
        word-wrap: normal;
        
        }
    }
    figure {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        margin: 0;
        text-align: center;
        
        .hero-text {
            
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            padding: 20px;
            text-align: center;
            
            h1 {
                font-size: 3em;
                margin: $no-margin;
                text-shadow: 4px 3px 5px #000;
                color: white;
                @include mobile {
                    font-size: 2em;
                    word-wrap: normal;
                }
                p {
                    padding: 0;
                }
            }
        }
        img {
            grid-column: 1 / 3;
            grid-row: 1 / 4;
            width: 100vw;
            height: 50vh;
            
            
        }
        article {
            width: 70vw;
            border: 2px solid darkgrey;
            border-radius: 5px;
            margin: 10px;
            
            p {
                padding: 10px;
                text-align: center;
                word-wrap: normal;
            }
            img {
                display: block;
                text-align: center;
                padding: 10px;
                height: auto;
                width: 60vw;
                margin: auto;
            }
        }
        
    }

}
article {
    width: 70vw;
    border: 2px solid darkgrey;
    border-radius: 5px;
    margin: 10px;
    
    img {
        display: block;
        text-align: center;
        padding: 10px;
        height: auto;
        width: 60vw;
        margin: auto;
    }
}

h2 {
    font-size: 1.5em;
}

