header{
    background-color: #464545 ;
    margin: $no-margin;
    
    h1{
        color: #fff;
        text-shadow: lime;
        font-size: 3vw;
        font-family: $oswald-font;
        margin: 0px 20px 10px 20px;
        grid-area: a;
    }
    
    
}