@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../components/navbar' as *;

header {
    background-color: #464545 ;
    margin: $no-margin;
    width: 100vw;
    max-width: $max-w;

    h1{
        color: #fff;
        font-size: 3vw;
        font-family: $oswald-font;
        margin: 0px 20px 10px 20px;
        grid-area: a;
    }

    
  
    
    @include desktop {
        display: flex;
        flex-direction: row;
        flex-flow: row;
        justify-content: space-between;
        .search {
            align-self: center;
            padding: 20px;
        input {
            height: 2em;
            width: 20vw;
            text-align: center;
            justify-self: center;
            align-self: center;
            border: none;
            border-radius: $border1em
            
            
        
        }
        button {
            width: 5vw;
            height: 2em;
            border-radius: $border1em;
            padding: 0px 10px;
            align-self: center;
            justify-self: self-start;
            background: darkgray;
            font-size: 17px;
            border: 3px solid teal;
            cursor: pointer;
            grid-area: d;
        
            &:hover {
                background-color: $hover-link;
            }
        }
    }
    }
    @include mobile {
        height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: 2em;
        margin: $no-margin;
        padding: 10px;
    }
    .search {
        padding: 5px;
    }
    }
}
    
    

