@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../components/navbar' as *;

header {
    margin: $no-margin;
    width: 100vw;
    max-width: $max-w;


    @include desktop {
        @include flexy (row, space-between, none);
        flex-flow: row;
        .search {
            align-self: center;
            padding: 20px;
        input {
            height: 5vh;
            width: 20vw;
            text-align: center;
            justify-self: center;
            align-self: center;
            border: none;
            border-radius: $border1em
        }
        button {
            width: 5vw;
            height: 5vh;
            border-radius: $border1em;
            padding: 0px 10px;
            align-self: center;
            justify-self: self-start;
            background: darkgray;
            font-size: 17px;
            border: 3px solid teal;
            cursor: pointer;
            grid-area: d;
        
            &:hover {
                background-color: $hover-link;
            }
        }
    }
    }
    @include mobile {
    .search {
        display: none;
    }
    #mobilesearch {
            align-self: center;
            padding: 20px;
        input {
            height: 2em;
            width: 50vw;
            text-align: center;
            justify-self: center;
            align-self: center;
            border: none;
            border-radius: $border1em
        }
        button {
            width: 20vw;
            height: 2em;
            border-radius: $border1em;
            padding: 0px 10px;
            align-self: center;
            justify-self: self-start;

            font-size: 17px;
            border: 3px solid teal;
    }
}
    }

    @include tablet {
       36
        .search {
            display: none;
        }
        #mobilesearch {
            
            align-self: center;
            padding: 20px;
        input {
            height: 2em;
            width: 30vw;
            text-align: center;
            justify-self: center;
            align-self: center;
            border: none;
            border-radius: $border1em
        }
        button {
            width: 5vw;
            height: 2em;
            border-radius: $border1em;
            padding: 0px 10px;
            align-self: center;
            justify-self: self-start;
            background: darkgray;
            font-size: 17px;
            border: 3px solid teal;
        }
    }
    }
    }

    
    

