@use 'base/typography' as *;
@use 'components/navbar' as *;
@use 'layout/header' as *;
@use 'layout/footer' as *;
@use 'components/bookshelf' as *;
@use 'components/addbook' as *;
@use 'components/book-details' as *;
@use 'components/home' as *;
@use 'components/hamburger-button' as *;
@use 'abstracts/mixins' as *;
@use './base/colors' as *;


html, body {
    font-family: $oswald-font;
    margin: $no-margin; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


main {
    flex: 1;
    font-family:$oswald-font;
    button {
        font-family: $oswald-font;
        align-items: center;
        margin: 0;
        background-color: color(accent);
        color: white;
        border-radius: $rndborder;
        border: none;
        #delete {
            width: 2vw;
        }

        @include supermobile {
        width: 30vw;
        height: 2em;
        font-size: 1rem;
        }
    
        @include desktop {
    
        width: 8em;
        height: 2em;
        font-size: 1.25em;
        
        }
    
    
}
}