$base-font-size: 1em;
$seaweed-font: 'Seaweed Script', cursive;
$oswald-font: 'Oswald', sans-serif;
$hover-link: teal;
$no-margin: 0;

html, body {
    margin: $no-margin;
}
header{
    background-color: #464545 ;
    margin: $no-margin;
    
    h1{
        color: #fff;
        text-shadow: lime;
        font-size: 3vw;
        font-family: $oswald-font;
        margin: 0px 20px 10px 20px;
        grid-area: a;
    }
    
    
}

main {
    font-size: $base-font-size;
    h1, h2 {
        font-family:$oswald-font;
        text-align: center;
    }
    h3 {
        font-family: $oswald-font;
        text-align: center;
        margin: $no-margin;
        word-wrap: normal;
    }
    
    p {
        font-family: $oswald-font;
        padding: 20px;
        margin: $no-margin;
    }
    button {
        align-items: center;
        margin: 0;
        width: 10em;
        height: 2em;
        font-family: $oswald-font;
        font-size: 1em;
        background-color: $hover-link;
    }
    section {
        margin: 0 20;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    
}
figure {
    margin: 0;
    text-align: center;
    
    .hero-text {
        width: 50vw;
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 33%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
    }
    img {
        width: 100vw;
        height: 50vh;
        background-size: cover;
        
    }
}

//Add Book
.add-book {
    width: 90vw;
    font-family: $oswald-font;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    input[type=text]{
        width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  label { 
    float: left;
     
} 
  span { 
    display: block; 
    overflow: hidden; 
    padding: 0px 4px 0px 6px; 
} 
}
}

footer {
    font-family: $oswald-font;
    //position:fixed;
    bottom: 0;
    width: 100%;
    background-color: gray;
    height: 3em;
    text-align: center;
    
}
@media only screen and (min-width:401px) {
    header{
        display: flex;
        flex-direction: row;
        flex-flow: row;
        justify-content: space-between;
    //     grid-template-columns: repeat(4,1fr);
    //     grid-template-areas: 
    // "a b c d ";
    
        
// .search {
//     // display: flex;
//     // flex-direction: row;
//     grid-area: c;
//     width: 20vh;
//     height: 2em;
//     justify-self: center;
//         align-self: center;

        
// }
.search {
    align-self: center;
    padding: 20px;
input {
    height: 2em;
    width: 20vw;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 1rem;
    
    

}
button {
    width: 5vw;
    height: 2em;
    border-radius: 1rem;
    padding: 0px 10px;
    align-self: center;
    justify-self: self-start;
    background: darkgray;
    font-size: 17px;
    border: 3px solid teal;
    cursor: pointer;
    grid-area: d;

    &:hover {
        background-color: $hover-link;
    }
}
    }
}
    .hamburger-container {
        display: none;
    }
    nav{
        justify-self: center;
        align-self: center;
        grid-area: b;
        // width: 20em;
        font-family: $oswald-font;
        position: relative;
        ul {
            padding: 0;
            display: flex;
            flex-flow: row;
            flex: auto;
            list-style: none;
            overflow: hidden;

        }
    li{
        a{
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
        }
        &:hover {
            color: black;
            background-color: $hover-link;
            
            
        }
        &:active {
            background-color: darkgray;
        }
    }
    }
    h1, h2{
        
        font-size: 2.25em;
    }
    figure {
        h1 {
            font-size: 3em;
        }
    }
    .bookshelf {
        width: 100vw;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-row: auto;
        grid-gap: 0px;
        justify-content: center;
        align-items: center;
        
    }
    article {
        border: 2px solid darkgrey;
        border-radius: 5px;
        margin: 10px;
        width: 20vw;
        
        p {
            padding: 10px;
            text-align: center;
            word-wrap: normal;
            font-style: italic;
        }
        img {
            display: block;
            text-align: center;
            width: 15vw;
            padding: 10px;
            height: auto;
            margin: auto;
        }
    }
    
    
}

@media screen and (max-width: 400px) {
header{
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: 2em;
        margin: $no-margin;
        padding: 10px;
    }
    .search {
        padding: 5px;
    }
    

.hamburger-container {
    margin-right: 5vw;
    padding: 6px 12px;
    border: 2px solid #000;
    position: relative;
    
    & > div {
    width: 22px;
    height: 2px;
    background: #000;
    margin-bottom: 6px;
    
    &:last-of-type {
        margin-bottom: 0;
    }
    }
    input[type="checkbox"] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        box-shadow: 0px 2px 5px 5px rgba(0,0,0, .3);
        transition: box-shadow .5s;
        appearance: none;
        
        &:checked {
        box-shadow: none;
        transition: box-shadow .5s;
        
        & + nav {
            display: block;
            width: 100vw;
        }
        }
        
        & + nav {
        display: none;
        position: fixed;
        top: 60px;
        width: 100%;
        left: 0;
        text-align: center;
        background: lightgray;
        
        a{
            text-decoration: none;
            color: black;
        }
        
        ul {
            font-family: $oswald-font;
            background: lightgray;
            list-style: none;
        }
        }
    }
}
  
}
article {
    width: 70vw;
    border: 2px solid darkgrey;
    border-radius: 5px;
    margin: 10px;
    
    p {
        padding: 10px;
        text-align: center;
        word-wrap: normal;
        font-style: italic;
    }
    img {
        display: block;
        text-align: center;
        padding: 10px;
        height: auto;
        width: 60vw;
        margin: auto;
    }
}
.desktop {
    display: none;
}
h2 {
    font-size: 1.5em;
}
figure {
    h1 {
        font-size: 2em;
        word-wrap: normal;
    }
}
}

    


