@media (min-width: 1024px) {
  .desktop {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    grid-area: b;
    font-family: "Oswald", sans-serif;
    position: relative;
  }
  .desktop ul {
    padding: 0;
    display: flex;
    flex-flow: row;
    flex: auto;
    list-style: none;
    overflow: hidden;
  }
  .desktop li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }
  .desktop li:hover {
    color: black;
    background-color: teal;
  }
  .desktop li:active {
    background-color: darkgray;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  .desktop {
    display: none;
  }
}

header {
  background-color: #464545;
  margin: 0;
  width: 100vw;
  max-width: 100%;
}
header h1 {
  color: #fff;
  font-size: 3vw;
  font-family: "Oswald", sans-serif;
  margin: 0px 20px 10px 20px;
  grid-area: a;
}
@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
  }
  header .search {
    align-self: center;
    padding: 20px;
  }
  header .search input {
    height: 2em;
    width: 20vw;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 1em;
  }
  header .search button {
    width: 5vw;
    height: 2em;
    border-radius: 1em;
    padding: 0px 10px;
    align-self: center;
    justify-self: self-start;
    background: darkgray;
    font-size: 17px;
    border: 3px solid teal;
    cursor: pointer;
    grid-area: d;
  }
  header .search button:hover {
    background-color: teal;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  header {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    font-size: 2em;
    margin: 0;
    padding: 10px;
  }
  header .search {
    padding: 5px;
  }
}

footer {
  font-family: "Oswald", sans-serif;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  background-color: gray;
  height: 10vh;
  text-align: center;
}

.bookshelf {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bookshelf article {
  border: 2px solid darkgrey;
  border-radius: 1em;
  margin: 10px;
  width: 20vw;
}
.bookshelf article p {
  padding: 10px;
  text-align: center;
  word-wrap: normal;
  font-style: italic;
}
.bookshelf article img {
  display: block;
  text-align: center;
  width: 15vw;
  padding: 10px;
  height: auto;
  margin: auto;
}

.add-book {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  padding: 20px;
}
.add-book form {
  width: 100vw;
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40vw;
}
.add-book form .book-drop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}
.add-book form .book-drop input[type=date], .add-book form .book-drop select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
}
.add-book form fieldset, .add-book form input[type=text], .add-book form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
}
.add-book form fieldset button, .add-book form input[type=text] button, .add-book form textarea button {
  border-radius: 1em;
}
.add-book form fieldset button[type=reset], .add-book form input[type=text] button[type=reset], .add-book form textarea button[type=reset] {
  background-color: lightgray;
}
.add-book form fieldset textarea, .add-book form input[type=text] textarea, .add-book form textarea textarea {
  width: 100%;
}
.add-book form .checked {
  color: teal;
}
.add-book form .fa-star {
  font-size: 2em;
}
.add-book .book-cover {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.add-book .book-cover label {
  border: 2px solid darkgrey;
  background-color: lightgray;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1em;
  justify-content: center;
  align-self: center;
  width: 20vw;
  height: 400px;
}
.add-book .book-cover input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

#publish {
  font-style: italic;
}

#detailpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}

#bookcover {
  margin: 10px;
  padding: 20px;
}
#bookcover .checked {
  color: teal;
}
#bookcover .stars {
  padding: 30px 0px;
}
#bookcover .stars .fa-star {
  font-size: 1em;
}

#home {
  font-size: 1em;
}
@media (min-width: 200px) and (max-width: 767px) {
  #home h1, #home h2 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  #home h1, #home h2 {
    font-size: 2.25em;
  }
}
#home h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0;
  word-wrap: normal;
}
#home section {
  margin: 0 0;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  #home p {
    font-family: "Oswald", sans-serif;
    padding: 20px;
    margin: 0;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  #home p {
    padding: 10px;
    text-align: center;
    word-wrap: normal;
    font-style: italic;
  }
}

article {
  width: 70vw;
  border: 2px solid darkgrey;
  border-radius: 5px;
  margin: 10px;
}
article p {
  padding: 10px;
  text-align: center;
  word-wrap: normal;
  font-style: italic;
}
article img {
  display: block;
  text-align: center;
  padding: 10px;
  height: auto;
  width: 60vw;
  margin: auto;
}

h2 {
  font-size: 1.5em;
}

figure {
  margin: 0;
  text-align: center;
}
figure .hero-text {
  width: 50vw;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 23%;
  /* Adjust this value to move the positioned div up and down */
  text-align: center;
}
figure .hero-text h1 {
  font-size: 3em;
  margin: 0;
  text-shadow: 4px 3px 5px #000;
  color: white;
}
@media (min-width: 200px) and (max-width: 767px) {
  figure .hero-text h1 {
    font-size: 2em;
    word-wrap: normal;
  }
}
figure img {
  width: 99vw;
  height: 50vh;
}
figure article {
  width: 70vw;
  border: 2px solid darkgrey;
  border-radius: 5px;
  margin: 10px;
}
figure article p {
  padding: 10px;
  text-align: center;
  word-wrap: normal;
}
figure article img {
  display: block;
  text-align: center;
  padding: 10px;
  height: auto;
  width: 60vw;
  margin: auto;
}

@media (min-width: 1024px) {
  .hamburger-container {
    display: none;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  .hamburger-container {
    margin-right: 5vw;
    padding: 6px 12px;
    border: 2px solid #000;
    position: relative;
  }
  .hamburger-container > div {
    width: 22px;
    height: 2px;
    background: #000;
    margin-bottom: 6px;
  }
  .hamburger-container > div:last-of-type {
    margin-bottom: 0;
  }
  .hamburger-container input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    appearance: none;
  }
  .hamburger-container input[type=checkbox]:checked {
    box-shadow: none;
    transition: box-shadow 0.5s;
  }
  .hamburger-container input[type=checkbox]:checked + nav {
    display: block;
    width: 100vw;
  }
  .hamburger-container input[type=checkbox] + nav {
    display: none;
    position: fixed;
    top: 60px;
    width: 100%;
    left: 0;
    text-align: center;
    background: lightgray;
  }
  .hamburger-container input[type=checkbox] + nav a {
    text-decoration: none;
    color: black;
  }
  .hamburger-container input[type=checkbox] + nav ul {
    font-family: "Oswald", sans-serif;
    background: lightgray;
    list-style: none;
  }
}

html, body {
  margin: 0;
}

main {
  font-family: "Oswald", sans-serif;
}
main button {
  align-items: center;
  margin: 0;
  width: 10em;
  height: 2em;
  font-family: "Oswald", sans-serif;
  font-size: 1.25em;
  background-color: teal;
  border-radius: 1em;
  color: white;
}

/*# sourceMappingURL=index.css.map */
