@use 'base/typography' as *;
@use 'components/navbar' as *;
@use 'layout/header' as *;
@use 'layout/footer' as *;
@use 'components/bookshelf' as *;
@use 'components/addbook' as *;
@use 'components/book-details' as *;
@use 'components/home' as *;
@use 'components/hamburger-button' as *;
@use 'abstracts/mixins' as *;


html, body {
    margin: $no-margin; 
    
}


main {
    font-family:$oswald-font;
    button {
        font-family: $oswald-font;
        align-items: center;
        margin: 0;
        background-color: $hover-link;
        border-radius: $border1em;
        color: white;

        @include mobile {
        width: 30vw;
        height: 2em;
        font-size: 1rem;
        }
        @include desktop {
        width: 10em;
        height: 2em;
        font-size: 1.25em;
    }
    
    
}
}