html, body {
  margin: 0; }

header {
  background-color: gray;
  margin: 0; }

header h1 {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  margin: 0px 20px 10px 20px;
  grid-area: a; }

main {
  font-size: 1em; }

main h1, main h2 {
  font-family: "Oswald", sans-serif;
  text-align: center; }

main h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 0;
  word-wrap: normal; }

main p {
  font-family: "Oswald", sans-serif;
  padding: 20px;
  margin: 0; }

main button {
  align-items: center;
  margin: 0;
  width: 10em;
  height: 2em;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  background-color: lightgray; }

main section {
  margin: 0 20;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

figure {
  margin: 0;
  text-align: center; }

figure .hero-text {
  width: 50vw;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 33%;
  /* Adjust this value to move the positioned div up and down */
  text-align: center; }

figure img {
  width: 100vw;
  height: 50vh;
  background-size: cover; }

.add-book {
  width: 90vw;
  font-family: "Oswald", sans-serif;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.add-book input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.add-book input[type=text] label {
  float: left; }

.add-book input[type=text] span {
  display: block;
  overflow: hidden;
  padding: 0px 4px 0px 6px; }

footer {
  font-family: "Oswald", sans-serif;
  bottom: 0;
  width: 100%;
  background-color: gray;
  height: 3em;
  text-align: center; }

@media only screen and (min-width: 401px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c "; }
  header input {
    height: 2em;
    width: 20em;
    justify-self: stretch;
    align-self: center;
    border: none;
    grid-area: c; }
  header button {
    width: 2em;
    height: 2em;
    padding: 0px 10px;
    align-self: center;
    justify-self: right;
    background: darkgray;
    font-size: 17px;
    border: none;
    cursor: pointer; }
  .hamburger-container {
    display: none; }
  nav {
    align-self: center;
    grid-area: b;
    width: 20em;
    font-family: "Oswald", sans-serif;
    position: relative; }
  nav ul {
    display: flex;
    flex-flow: row;
    list-style: none;
    overflow: hidden; }
  nav li a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px; }
  nav li:hover {
    background-color: lightgray; }
  nav li:active {
    background-color: darkgray; }
  h1, h2 {
    font-size: 2.25em; }
  figure h1 {
    font-size: 3em; }
  .bookshelf {
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: auto;
    grid-gap: 0px;
    justify-content: center;
    align-items: center; }
  article {
    border: 2px solid darkgrey;
    border-radius: 5px;
    margin: 10px;
    width: 20vw; }
  article p {
    padding: 10px;
    text-align: center;
    word-wrap: normal;
    font-style: italic; }
  article img {
    display: block;
    text-align: center;
    width: 15vw;
    padding: 10px;
    height: auto;
    margin: auto; } }

@media screen and (max-width: 400px) {
  header {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  header h1 {
    font-size: 2em;
    margin: 0;
    padding: 10px; }
  header .search {
    padding: 5px; }
  header .hamburger-container {
    margin-right: 5vw;
    padding: 6px 12px;
    border: 2px solid #000;
    position: relative; }
  header .hamburger-container > div {
    width: 22px;
    height: 2px;
    background: #000;
    margin-bottom: 6px; }
  header .hamburger-container > div:last-of-type {
    margin-bottom: 0; }
  header .hamburger-container input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow .5s;
    appearance: none; }
  header .hamburger-container input[type="checkbox"]:checked {
    box-shadow: none;
    transition: box-shadow .5s; }
  header .hamburger-container input[type="checkbox"]:checked + nav {
    display: block;
    width: 100vw; }
  header .hamburger-container input[type="checkbox"] + nav {
    display: none;
    position: fixed;
    top: 60px;
    width: 100%;
    left: 0;
    text-align: center;
    background: lightgray; }
  header .hamburger-container input[type="checkbox"] + nav a {
    text-decoration: none;
    color: black; }
  header .hamburger-container input[type="checkbox"] + nav ul {
    font-family: "Oswald", sans-serif;
    background: lightgray;
    list-style: none; }
  article {
    width: 70vw;
    border: 2px solid darkgrey;
    border-radius: 5px;
    margin: 10px; }
  article p {
    padding: 10px;
    text-align: center;
    word-wrap: normal;
    font-style: italic; }
  article img {
    display: block;
    text-align: center;
    padding: 10px;
    height: auto;
    width: 60vw;
    margin: auto; }
  .desktop {
    display: none; }
  h2 {
    font-size: 1.5em; }
  figure h1 {
    font-size: 2em;
    word-wrap: normal; } }
