@import url(https://fonts.googleapis.com/css2?family=Oswald&family=Seaweed+Script&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.mainnav {
  font-family: "Oswald", sans-serif;
  background-color: #333;
}
.mainnav__sitetitle {
  color: #fff;
  margin: 0px 20px 10px 20px;
}
@media (min-width: 1024px) {
  .mainnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }
  .mainnav #mobilesearch {
    display: none;
  }
  .mainnav__icon {
    display: none;
  }
  .mainnav ul {
    padding: 0;
    display: flex;
    flex-flow: row;
    flex: auto;
    list-style: none;
    overflow: hidden;
  }
  .mainnav li a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.75vw;
  }
  .mainnav li:hover {
    color: #000;
    background-color: teal;
  }
  .mainnav li:active {
    background-color: darkgray;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  .mainnav {
    position: relative;
    overflow: hidden;
    display: block;
  }
  .mainnav__sitetitle {
    font-size: 2em;
    padding: 10px;
    margin: 0;
  }
  .mainnav__icon {
    background: #00CED1;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
  }
  .mainnav a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
  }
  .mainnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mainnav li {
    display: inline block;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .mainnav {
    display: block;
    overflow: hidden;
  }
  .mainnav__sitetitle {
    font-size: 2em;
    margin: 0;
    padding: 10px;
    margin: 0;
  }
  .mainnav__icon {
    background: #00CED1;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
  }
  .mainnav a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
  }
  .mainnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mainnav li {
    display: inline block;
    text-align: center;
  }
}

header {
  margin: 0;
  width: 100vw;
  max-width: 100%;
}
@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    flex-flow: row;
  }
  header .search {
    align-self: center;
    padding: 20px;
  }
  header .search input {
    height: 5vh;
    width: 20vw;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 1em;
  }
  header .search button {
    width: 5vw;
    height: 5vh;
    border-radius: 1em;
    padding: 0px 10px;
    align-self: center;
    justify-self: self-start;
    background: darkgray;
    font-size: 17px;
    border: 3px solid teal;
    cursor: pointer;
    grid-area: d;
  }
  header .search button:hover {
    background-color: teal;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  header .search {
    display: none;
  }
  header #mobilesearch {
    align-self: center;
    padding: 20px;
  }
  header #mobilesearch input {
    height: 2em;
    width: 50vw;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 1em;
  }
  header #mobilesearch button {
    width: 20vw;
    height: 2em;
    border-radius: 1em;
    padding: 0px 10px;
    align-self: center;
    justify-self: self-start;
    font-size: 17px;
    border: 3px solid teal;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header .search {
    display: none;
  }
  header #mobilesearch {
    align-self: center;
    padding: 20px;
  }
  header #mobilesearch input {
    height: 2em;
    width: 30vw;
    text-align: center;
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 1em;
  }
  header #mobilesearch button {
    width: 5vw;
    height: 2em;
    border-radius: 1em;
    padding: 0px 10px;
    align-self: center;
    justify-self: self-start;
    background: darkgray;
    font-size: 17px;
    border: 3px solid teal;
  }
}

footer {
  font-family: "Oswald", sans-serif;
  position: fixed, bottom;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  background-color: gray;
  height: 10vh;
  text-align: center;
}

.bookshelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.bookshelf__books {
  border: 2px solid darkgrey;
  border-radius: 1em;
  margin: 10px;
  width: 65vw;
}
@media (min-width: 1024px) {
  .bookshelf__books {
    width: 20vw;
    height: 50vh;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bookshelf__books {
    width: 30vw;
    height: 50vh;
  }
}
.bookshelf__books__cover {
  display: block;
  text-align: center;
  padding: 10px 0px;
  height: 30vh;
  margin: auto;
}
@media (min-width: 1024px) {
  .bookshelf__books__cover {
    width: auto;
    height: 30vh;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bookshelf__books__cover {
    width: 20vw;
  }
}
.bookshelf__books__title {
  text-align: center;
  margin: 0;
  padding: 0px 10px;
  overflow-wrap: break-word;
}
.bookshelf__books__author {
  padding: 10px;
  text-align: center;
  word-wrap: normal;
  font-style: italic;
}

h2 {
  text-align: center;
}

.add-book {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 200px) and (max-width: 767px) {
  .add-book {
    display: flex;
    flex-direction: column-reverse;
  }
}
.add-book form {
  width: 35vw;
}
.add-book form label {
  display: block;
}
.add-book form .book-drop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: row wrap;
  width: 100%;
}
.add-book form .book-drop input[type=date], .add-book form .book-drop select {
  margin: 8px 0px;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
}
.add-book form fieldset, .add-book form input[type=text], .add-book form textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
}
.add-book form fieldset button, .add-book form input[type=text] button, .add-book form textarea button {
  border-radius: 1em;
  width: 48%;
}
.add-book form fieldset button[type=reset], .add-book form input[type=text] button[type=reset], .add-book form textarea button[type=reset] {
  background-color: #333;
}
.add-book form fieldset textarea, .add-book form input[type=text] textarea, .add-book form textarea textarea {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .add-book .book-drop__pubdate .add-book .book-drop__pages {
    justify-content: space-around;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  .add-book form {
    width: 90vw;
  }
  .add-book form .book-drop {
    width: 90%;
    flex-direction: column;
    align-items: stretch;
  }
}

.checked {
  color: teal;
}

@media (min-width: 1024px) {
  .fa-star {
    font-size: 2em;
  }
}
@media (min-width: 200px) and (max-width: 1023px) {
  .fa-star {
    font-size: 1em;
  }
}

.book-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  padding: 0px 0px 0px 20px;
}
.book-cover label {
  border: 2px solid darkgrey;
  background-color: lightgray;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1em;
  justify-content: center;
  align-self: center;
  width: 30vw;
  height: 400px;
}
.book-cover input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (min-width: 200px) and (max-width: 767px) {
  .book-cover {
    padding: 20px;
  }
  .book-cover label {
    width: 80vw;
  }
}
.detailpage__bookcover {
  margin: 10px;
  padding: 20px;
  text-align: center;
}
.detailpage__bookcover--rating {
  padding: 30px 0px;
}
.detailpage__bookcover--rating .fa-star {
  font-size: 1em;
}
.detailpage__bookcover--rating .checked {
  color: teal;
}
@media (min-width: 1024px) {
  .detailpage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 200px) and (max-width: 767px) {
  .detailpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.details {
  margin: 20px;
  word-wrap: break-word;
}
.details h2 {
  font-size: 1em;
  text-align: left;
}
.details__publish {
  font-style: italic;
}

.home {
  font-size: 1em;
}
.home h1, .home h2 {
  text-align: center;
}
@media (min-width: 200px) and (max-width: 767px) {
  .home h1, .home h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  .home h1, .home h2 {
    font-size: 2.25em;
  }
}
.home .home__main {
  margin: 0 0;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home p {
  font-family: "Oswald", sans-serif;
  padding: 20px;
  margin: 0;
}
@media (min-width: 200px) and (max-width: 767px) {
  .home p {
    padding: 10px;
    word-wrap: normal;
  }
}
.home .home__hero {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/bookshelf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  text-align: center;
}
@media (min-width: 1024px) {
  .home .home__hero {
    height: 50vh;
  }
}
.home .home__hero .home__hero-text {
  padding: 20px;
}
.home .home__hero .home__hero-text--title {
  font-size: 3em;
  margin: 0;
  text-shadow: 4px 3px 5px #000;
  color: #fff;
}
@media (min-width: 200px) and (max-width: 767px) {
  .home .home__hero .home__hero-text--title {
    font-size: 2em;
    word-wrap: normal;
  }
}
.home .home__hero .home__hero-text p {
  padding: 0;
}

@media (min-width: 1024px) {
  .icon {
    display: none;
  }
}

html, body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  font-family: "Oswald", sans-serif;
}
main button {
  font-family: "Oswald", sans-serif;
  align-items: center;
  margin: 0;
  background-color: #00CED1;
  color: white;
  border-radius: 1em;
}
main button #delete {
  width: 2vw;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main button {
    width: 30vw;
    height: 2em;
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  main button {
    width: 8em;
    height: 2em;
    font-size: 1.25em;
  }
}

/*# sourceMappingURL=index.css.map */
