@use '../base/typography' as *;
@use '../base/colors' as *;

footer {
        font-family: $oswald-font;
        position: fixed, bottom;
        bottom: $no-margin;
        width: 100vw;
        max-width: $max-w;
        background-color: color(accent2);
        height: 10vh;
        text-align: center;
        
    }