html, body {
  margin: 0; }

header {
  background-color: gray;
  margin: 0; }
  header h1 {
    font-size: 3rem;
    font-family: "Seaweed Script", cursive;
    margin: 20px;
    grid-area: a; }

main {
  font-size: 1em; }
  main h1, main h2 {
    font-family: "Seaweed Script", cursive;
    font-size: 2.25em; }
  main p {
    font-family: "Oswald", sans-serif;
    padding: 20px;
    margin: 0; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

button {
  align-items: center;
  margin: 0;
  width: 10em;
  height: 2em;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  background-color: lightgray; }

footer {
  background-color: gray;
  height: 3em;
  text-align: center;
  padding: .5em;
  margin: 2em 0 0 0; }

@media only screen and (min-width: 401px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c "; }
    header input {
      align-self: center;
      height: 2em;
      width: 20em;
      grid-area: c;
      justify-self: end;
      border: none; }
    header button {
      width: 2em;
      height: 2em;
      padding: 0px 10px;
      align-self: center;
      justify-self: end;
      background: darkgray;
      font-size: 17px;
      border: none;
      cursor: pointer;
      grid-area: c; }
  nav {
    align-self: center;
    grid-area: b;
    width: 20em;
    font-family: "Oswald", sans-serif;
    position: relative; }
    nav ul {
      display: flex;
      flex-flow: row;
      list-style: none;
      overflow: hidden; }
    nav li a {
      text-decoration: none;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; }
    nav li:hover {
      background-color: lightgray; }
    nav li:active {
      background-color: darkgray; }
  .hamburger {
    display: none; }
  figure {
    text-align: center; }
    figure img {
      height: 20em;
      background-size: cover; } }

@media screen and (max-width: 400px) {
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    header input {
      display: none; }
    header button {
      display: none; }
  .hamburger {
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter; }
  menu a,
  menu li {
    display: block;
    /* 2 */ }
  menu a {
    text-decoration: none;
    /* 3 */
    color: currentColor;
    /* 4 */
    padding: 1em;
    /* 5 */ }
  menu li {
    border-style: solid;
    /* 6 */
    border-width: 0 0 1px; }
  figure {
    text-align: center; }
    figure img {
      width: 15em;
      background-size: cover; } }
