$base-font-size: 1em;
$seaweed-font: 'Seaweed Script', cursive;
$oswald-font: 'Oswald', sans-serif;
$hover-link: lightgray;
$no-margin: 0;

html, body {
    margin: $no-margin;
}
header{
    background-color: gray;
    margin: $no-margin;
    
    
    h1{
        font-size: 3rem;
        font-family: $seaweed-font;
        margin: 20px;
        grid-area: a;
    }
    
}

main {
    font-size: $base-font-size;
    h1, h2{
        font-family: $seaweed-font;
        font-size: 2.25em;
    }
    p {
        font-family: $oswald-font;
        padding: 20px;
        margin: $no-margin;
    }
    button {
        align-items: center;
        margin: 0;
        width: 10em;
        height: 2em;
        font-family: $oswald-font;
        font-size: 1em;
        background-color: $hover-link;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



footer {
    background-color: gray;
    height: 3em;
    text-align: center;
    padding: .5em;
    margin: 2em 0 0 0;
}
@media only screen and (min-width:401px) {
    header{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
    "a b c ";
    input{
        align-self: center;
        height: 2em;
        width: 20em;
        grid-area: c;
        justify-self: end;
        border: none;
    }
    .hamburger-container {
        display: none;
    }
    button {
        width: 2em;
        height: 2em;
        padding: 0px 10px;
        align-self: center;
        justify-self: end;
        background: darkgray;
        font-size: 17px;
        border: none;
        cursor: pointer;
        grid-area: c;
    }
    }
    nav{
        align-self: center;
        grid-area: b;
        width: 20em;
        font-family: $oswald-font;
        position: relative;
        ul {
            display: flex;
            flex-flow: row;
            list-style: none;
            overflow: hidden;

        }
    li{
        a{
        text-decoration: none;
        color: black;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
        }
        &:hover {
            background-color: $hover-link;
        }
        &:active {
            background-color: darkgray;
        }
    }
    }
    
    figure {
    
        text-align: center;
        
        img {
            height: 20em;
            background-size: cover;
        }
    }
}

@media screen and (max-width: 400px) {
header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: 2.25em;
        margin: $no-margin;
        padding: 10px;
    }
    input[type="text"] {
        display: none;
    }
    button{
        display: none;
    }

.hamburger-container {
    margin-right: 5vw;
    padding: 6px 12px;
    border: 2px solid #262f43;
    position: relative;
    
    & > div {
      width: 22px;
      height: 2px;
      background: #262f43;
      margin-bottom: 6px;
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }
      input[type="checkbox"] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        box-shadow: 0px 2px 5px 5px rgba(0,0,0, .3);
        transition: box-shadow .5s;
        appearance: none;
        
        &:checked {
          box-shadow: none;
          transition: box-shadow .5s;
          
          & + nav {
            display: block;
          }
        }
        
        & + nav {
          display: none;
          position: fixed;
          top: 60px;
          width: 100%;
          left: 0;
          text-align: center;
          background: lightgray;
          
          a{
            text-decoration: none;
            color: black;
          }
          
          ul {
            font-family: $oswald-font;
            background: lightgray;
            list-style: none;
          }
        }
      }
    }
}
// nav {
    
//     a {
//         text-decoration: none; /* 3 */
//         color: currentColor; /* 4 */
//         padding: 1em; /* 5 */
//     }
//     ul {
//         font-family: $oswald-font;
//         background: lightgray;
//         list-style: none;
//         margin: 0;
//         padding-right: 0;
//     }
    
//   }
}
    // #menu-icon {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     padding: 20px;
    // }
    // #menu-toggle {
    //     display: none;
        
    // }
    // #collapse-menu {
    //     transition: transform 0.3s;
    //     transform-origin: top;
    //     display: block;
    // }
    
    // input:not(:checked) ~ #collapse-menu {
    //     transform: scaleY(0);
    // }
    

figure {
    
    text-align: center;
    
    img {
        width: 15em;
        background-size: cover;
    }
}

